.quarto-title-block .quarto-title-banner {
  background-image: url("tsu_logo_black.png");
  background-size: 150px;
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 10px;
  background-origin: content-box;
}

